@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Proxima Nova';
        font-weight: 400;
        src: url("/fonts/ProximaNova-Regular.woff"), url("/fonts/ProximaNova-Regular.woff2");
    }
    @font-face {
        font-family: 'Proxima Nova';
        font-weight: 700;
        src: url("/fonts/ProximaNova-Bold.woff"), url("/fonts/ProximaNova-Bold.woff2");
    }
}
html, body {
    font-family: 'Proxima Nova', sans-serif;
}
.max-w-screen-xl {
    max-width: 1140px!important;
}
.service-btn {
    position: relative;
}

.service-btn:after {
    content: '';
    background-image: url(@/assets/img/icons/arrow-right.svg);
    position: absolute;
    left: auto;
    right: 15px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 250ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
    
}

.service-btn:hover:after {
    background-image: url(@/assets/img/icons/angle-right-blue.svg);    
}
.saved-search {
    position: absolute;
    width: 290px;
    z-index: 91;
    right: 0;
}

.saved-search li span {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.saved-search li {
    margin: 5px auto;
}
.service-btn:hover:after {
    animation: arrow-r 1s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite;
    color: #135FFF;
}
@keyframes arrow-r{
    0% { 
        right: 15px;
    }
    50% {
        right: 10px;
    }
    100% {
        right: 15px;
    }
    }    
.faq .rotate-180 {
    --tw-rotate: 360;
}
.load-btn-area {
    position: relative;
}

.load-btn-area:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    bottom: 20px;
    left: 0;
}

/* custom selectors start */

.t-select {
    position: relative;
    height: auto;
    padding: 0px;
    text-align: left;
}
.t-select select {
    display: none;
}
.select-selected {
    background-color: #fff;
    color: #2B313B !important;font-weight: bold;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
}
.select-selected:before {
    position: absolute;
    content: "";
    top: 42px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: transparent transparent #000000 transparent;
    transform: rotate(180deg);
}
.select-selected.select-arrow-active:before {
    border: none;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000000 transparent;
    top: 35px;
}
.select-selected {
    padding: 10px;
    border: 1px solid #a4bce6;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #2B313B;
    transition: 300ms;
}
.select-selected:hover,.select-selected.select-arrow-active {
    border-color: #0052FE;
}
.select-items div {
    font-size: 14px;
    font-weight: 400;
    color: #2B313B;
    padding: 8px;
    border-bottom: 1px solid #F5F8FF;
    border-radius: 5px;
}
.select-items {
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all 300ms ease-in-out;
    margin-top: 10px;
    box-shadow: 0 0 0 1px #0052fe;
    transform: translateY(5px);
}
.select-hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.t-select.no-label .select-selected::before {
    top: 20px;
}

.t-select.no-label .select-selected:after {
    top: 10px;
}

/*custom news select start*/
.select {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #2B313B;
    position: relative;
  }
  .select .selectBtn, .select .select-b, .select .select-c, .select .select-d {
    padding: 9px;
    border: 1px solid #F5F8FF;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #2B313B;
    cursor: pointer;
    position: relative;
    transition: 300ms;
  }
  .select .selectBtn:hover, .selectBtn.toggle, .select .select-b:hover, .select-b.toggle, .select .select-c:hover, .select-c.toggle, .select .select-d:hover, .select-d.toggle {
    border-color: #0052fe;
}
  .select .selectBtn:after,  .select .select-b:after, .select .select-c:after, .select .select-d:after {
    content: "";
    position: absolute;
    top: 16px;
    right: 10px;
    border: 4px solid transparent;
    border-color: transparent transparent #000000 transparent;
    transform: rotate(180deg);
  }
  .select .selectBtn.toggle:after,  .select .select-b.toggle:after, .select .select-c.toggle:after, .select .select-d.toggle:after {
    top: 10px;
    border-color: transparent transparent #000000 transparent;
    transform: rotate(360deg);
  } 
  .select .selectDropdown,  .select .selectDropdown-b, .select .selectDropdown-c, .select .selectDropdown-d {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    top: 100%;
    left: 0;
    right: 0;
    height: auto;
    transition: all 300ms ease-in-out;
    margin-top: 5px;
    box-shadow: 0 0 0 1px #F5F8FF;
    z-index: 99!important;
    font-weight: 400;
  }
  .select .selectDropdown .option, .select .selectDropdown-b .option-b, .select .selectDropdown-c .option-c, .select .selectDropdown-d .option-d {
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid #F5F8FF;
    font-size: 12px;
    font-weight: 400;
}
  .select .selectDropdown .option:hover, .select .selectDropdown-b .option-b:hover, .select .selectDropdown-c .option-c:hover, .select .selectDropdown-d .option-d:hover {
    background: #f8f8f8;
  }
  .select .selectDropdown.toggle, .select .selectDropdown-b.toggle, .select .selectDropdown-c.toggle, .select .selectDropdown-d.toggle {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
  }

/*custom news select end*/
input.parsley-error, select.parsley-error, textarea.parsley-error {
    color: #f22222;
    background-color: transparent;
    border: 1px solid #f22222;
}
.parsley-required {
    color: #f22222;
    font-size: 12px;
}
/* nav icon start */

#nav-icon {
    width: 20px;
    height: 18px;
    position: relative;
    margin: 0 auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
#nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #2b313b;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  
#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    width: 65%;
    right: 0;
    left: auto;
  }
  
  #nav-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  
  #nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 0px;
  }
  
  #nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 14px;
    left: 0px;
  }
/* nav icon end */
/*btn effects*/
input[type="radio"].radio-btn:checked + label.outline-btn.btn-translate-z::before{
    background: #0052fe; 
}
/*btn effects end*/
.single-field-wrapper input:focus + span {
    background-color:#3b82f6 ;
    /* color: #ffffff; */
    border-color: #3b82f6;
}
.single-field-wrapper input:focus + div {
    border-color: #3b82f6;
}
/*Btn shadow effect start*/
.shadow-btn {
   
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    padding: 5px .25rem;
    opacity: 1;
}
.shadow-btn:hover {
    opacity: 1;
}
.shadow-btn:hover + svg{
    fill: #A4BCE6;
}
.articles .shadow-btn.arrow-white {
    position: relative;
    font-size: 12px;
}
.articles .shadow-btn.arrow-white:hover {    
    color: #0542c1;
}
.faq .shadow-btn.arrow-white:hover {
    color: #0542c1;
}
.outline-btn.btn-translate-z {
    background: #0052FE;
    transition: 300ms;
    opacity: 1;
    border-radius: 5px;
}

.outline-btn.btn-translate-z:hover {
    background: #0542c1;opacity: 1;
}
.product-details-s .outline-btn.btn-translate-z:hover {
    background: #112954;
    color: #fff;
}
.faq .btn-translate-z:hover {
    background: #072c6d;
    opacity: 1;
}
.slider-c .shadow-btn.arrow-white:hover {
    color: #0542c1;
    opacity: 1;
}

.slider-c .shadow-btn.arrow-white {
    font-size: 12px;
}

.green-tick:hover, .green-tick:active, .green-tick:focus {
    border-color: #0f5dfe!important;
} 
.green-tick {
    border-color: #a4bce6!important;
    border-radius: 6px!important;
}
.tick-input .check-green:hover input, .tick-input .check-green:hover div {
    border-color: #0f5dfe;
}
.tick-input input, .tick-input div, .date-area input.rounded.rounded-lg {
    border-color: #a4bce6;
}
.date-area input.rounded.rounded-lg:hover, .date-area input.rounded.rounded-lg:active, .date-area input.rounded.rounded-lg:focus {
    border-color: #0f5dfe;
}
.sec-title {
    margin-bottom: 24px;
}

.sec-title h3 {
    margin-bottom: 0;
}
.slick-slider .items a p {
    font-size: 14px;
}
.slick-slider .items a div.flex {
    padding: 10px 0px;
}
.slick-slider .items a {
    padding: 10px;
}

.post-img-area {
    position: relative;
}

.post-img-area .news-tags {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/*Btn shadow effect end*/

/*custom elements start*/

.radio-cu input[type="radio"] {
    display: none;
  }
  
.radio-cu label {
    cursor: pointer;
    position: relative;
  }
  
.radio-cu label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #f9292900;
    border: 2px solid #0052FE;
    border-radius: 50%;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
    transition: border-color 400ms ease;
  }
  
  .radio-cu label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0052FE;
    border: 2px solid #0052FE;
    border-radius: 50%;
    top: 50%;
    left: -16px;
    transform: translateY(-50%) scale(0);
    transition: transform 400ms ease;
  }
  
  .radio-cu input[type="radio"]:checked + label::before {
    border-color: #0052FE;
  }
  
  .radio-cu input[type="radio"]:checked + label::after {
    transform: translateY(-50%) scale(0.55);
  }
  
/*custom elements end*/
/* go to top start */

.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 5px;
    background: #0052fe;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
    z-index: 1;
  }
  
  .back-to-top:hover {
    opacity: 60%;
  }
  
  .hide{
    opacity: 0%;
  }
  
  .back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #ffffff;
  }
  
  .progress-bar {
    height: 2px;
    background: #0050fe3a;
    position: fixed;
    top: 0;
    left: 0;
  }
/* go to top end */

input:focus + span {
    /* color: #ffffff; */
    border-color: #3b82f6;
}
input:focus + div {
    border-color: #3b82f6;
}
/*Slider start*/
.swiper-container {
    width: 100%;
    height: 100%;
  }
/*Slider end*/

/*Slider start custom*/
.slider-area button.bg-white {
    width: 40px; background-color: #0052FE;
}
.slider-area .bg-white\/50 {
    background-color: #ffffff;
}
.slider-area button {transition: all 250ms ease-in-out;}
.inner-content {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
}
.overlay {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

/*Slider end*/

/*SVG animation radio checkbox*/


/*blue dot start*/
.blue-dot li {position: relative;padding-left: 20px;}

.blue-dot li:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 7px;
    background: #0052FE;
    border-radius: 50%;
}
/*blue dot end*/
.form-area {
    box-shadow: 0 15px 38px rgb(0 0 0 / 15%), 0 15px 12px rgb(0 0 0 / 15%);
}
input[type="radio"].radio-btn:checked + label {
    background: #112954;
    color: #fff;
}
input[type="radio"].radio-btn:checked {
    background: #0052FE;
}

/*table*/
.divide-right tr th {
    position: relative;
}

.divide-right tr th:after {
    content: '';
    width: 5px;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: auto;
    bottom: -2px;
}

/**/
/*checkbox */
.checkbox-animate {
    font-size: 14px;
    font-weight: 400;
}
.checkbox-animate label {
    position: relative;
    cursor: pointer;
}
.checkbox-animate label input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.input-check {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #C9D0E1;
    position: relative;
    top: 0px;
    margin-right: 6px;
    transition: 0.4s;
    background: #C9D0E1;
}

.input-check::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: scale(0) rotate(-45deg);
    position: absolute;
    top: 4px;
    left: 2px;
    transition: 0.4s;
}

.checkbox-animate label input:checked ~ .input-check {
    background-color: #20BC39;
    border-color: #20BC39;
    animation-name: input-animate;
    animation-duration: 0.7s;
}

.checkbox-animate label input:checked ~ .input-check::before {
    transform: scale(1) rotate(-45deg);
    animation-name: input-check;
    animation-duration: 0.2s;
    animation-delay: 0.3s;
}

@keyframes input-animate {
    0% {
        transform: scale(1);
    }
    40%{
        transform: scale(1.3,0.7);
    }
    55% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2,0.8);
    }
    80% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.1,0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes input-check {
    0% {
        transform: scale(0) rotate(-45deg);
    }
    100% {
        transform: scale(1) rotate(-45deg);
    }
}
/*checkbox End*/
/*Tab Slider Start*/
.insurance-tab  [x-cloak] { 
    display: none !important;
}
.insurance-tab  nav {
    justify-content: flex-start;
    user-select: none;
    margin-bottom: 15px;
}
.insurance-tab nav a {
    transition: all var(--transition);
    min-width: 120px;
    text-align: center;
    user-select: none;
}

.insurance-tab div.grid div {
    animation-duration: 0.45s;
    -webkit-animation-duration: 0.45s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}
@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}
/*Tab Slider End*/
/* radio-border */
.active-border{
    border-color: #3b82f6!important;
}
/* radio-border End */

/* Range Slider */
.range-sec form, .range-sec input, .range__input, .range__counter-sr {
	width: 100%;
}
.range, .range__counter {
	display: flex;
    top: 2px;
}
.range:not(:last-child) {
	margin-bottom: 1.5em;
}
.range input[type=range],
.range input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none; 
	appearance: none;
}
.range input[type=range], .range__input-fill {
	border-radius: 0.25em;
	height: 0.5em;
}
.range input[type=range] {
	background-color: #F5F8FF;
	display: block;
	margin: 15px 0;
	padding: 0;
}
.range input[type=range]:focus {
	outline: transparent;
}
.range input[type=range]::-webkit-slider-thumb {
	background: url('../img/range-thumb.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
	border: 0;
	border-radius: 0%;
	cursor: pointer;
	position: relative;
	transition: background 0.1s linear;
	width: 1.5em;
	height: 1.5em;
	z-index: 2;
}
.range input[type=range]::-moz-range-thumb {
	background: url('../img/range-thumb.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	transition: background 0.1s linear;
	width: 1.5em;
	height: 1.5em;
	z-index: 2;
}
.range input[type=range]::-moz-focus-outer {
	border: 0;
}
.range__input, .range__input-fill, .range__counter-column, .range__counter-digit {
	display: block;
}
.range__input, .range__counter {
	position: relative;
}
.range__input {
	margin-right: 0.375em;
}
.range__input:active input[type=range]::-webkit-slider-thumb,
.range input[type=range]:focus::-webkit-slider-thumb,
.range input[type=range]::-webkit-slider-thumb:hover {
	background: url('../img/range-thumb.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 0 0 5px 1px #0052FE;
    border-radius: 5px;
}
.range__input:active input[type=range]::-moz-range-thumb,
.range input[type=range]:focus::-moz-range-thumb,
.range input[type=range]::-moz-range-thumb:hover {
	background: url('../img/range-thumb.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    box-shadow: 0 0 5px 1px #0052FE;
    border-radius: 5px;
    z-index: 2;
}
.range__input-fill, .range__counter-sr {
	position: absolute;
	left: 0;
}
.range__input-fill {
	background-color: #0052FE;
	pointer-events: none;
	top: calc(50% - 0.25em);
    z-index: 1;
}
.range__counter, .range__counter-digit {
	height: 1.5em;
}
.range__counter {
	overflow: hidden;
    line-height: 18px!important;
}
.range__counter-sr {
	color: transparent;
	letter-spacing: 0.06em;
	top: 0;
	text-align: right;
	z-index: 1;
}
.range__counter-column {
	transition: transform 0.25s ease-in-out;
	width: 0.66em;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.range__counter-column--pause {
	transition: none;
}
#rate_error {
    position: absolute;
    bottom: -19px;
}
label.outline-btn.btn-translate-z {
    background: transparent;
    border: 1px solid #112954;
    color: #112954;
}
.gray-btn.outline-btn.btn-translate-z {
    background: transparent;
    border-color: #112954;
    color: #112954;
}

.next-btn.outline-btn.btn-translate-z {
    width: 140px;
}
.gray-btn.outline-btn.btn-translate-z:hover {
    background: #505a6b;
}
.tick-input div.select-items, .tick-input div.select-items div {
    border-color: transparent;
}
.active-tab {
    color: #0052fe!important;
    font-weight: 600!important;
}

/*accordion Start*/
.course-accordion {
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    height: 20px;
    display: inline-block;
    position: relative;
    margin: 5px 0 10px;
}

/*button not active*/
.course-accordion:after {
    content: '\002B';
    color: #2B313B;
    font-weight: bold;
    top: -5px;
    position: absolute;
    right: 0;
    font-size: 20px;
}

/* minus button */
.course-accordion.active:after {
    content: "\2212";
}
.course-panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
	  width: 96%;
	  font-family: "Raleway";
    font-size: 15px;
    line-height: 1.6em;
    letter-spacing: .4px;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,.88);
}

/*accordion end*/
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #2e3138;
		--bgT: #2e313800;
		--fg: #e3e4e8;
		--inputBg: #17181c;
	}
}
/* Range Slider End */
/* form-popup-side */
.pop-form {
    width: 100%;
    left: 0;
    top: 60px;
    height: 100%;
    background: #F9FBFF;
    z-index: 2;
}
/* form-popup-side End */
.save-search a:hover svg, .section-title h1 svg:hover {
    fill: #26BA65;
}
/*Menu start*/
.active-link {
    position: relative;
}

.active-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #0052fe;
    bottom: 0;
    left: 0;
}
.sub-dropdown {
    position: absolute;
    right: 0;
    top: 60px;
    border-top: 1px solid #F5F8FF;
    transition: all 300ms ease-in-out;
    display: none;
    opacity: 0;
}

.dropdown:hover .sub-dropdown {
    opacity: 1;
    display: block!important;
}
/* Menu end */
.review-area .top-part svg {
    width: 32px;
    height: 32px;
}

.single-field-wrapper:hover input, .single-field-wrapper:hover span, .single-field-wrapper:hover textarea, .single-field-wrapper:hover label {
    border-color: #0052fe;
}
.single-info p, .post-detail p{
    font-size: 16px;
    color: #2B313B;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 15px;
    line-height: 1.5;
}
.single-info a {
    color: #0052fe;
    display: block;
    line-height: 1.75;
}
.single-info ol, .single-info ul {
    list-style: auto;
    padding-left: 20px;
    margin: 0px auto 5px;
    color: #0052fe;
    font-size: 18px;
}
.error input, .error span {
    border-color: #F22222;
}
.single-info h2, .single-info h3, .single-info h4 {
    font-weight: 700;
    font-size: 20px;
}
.bmi-chart p {
    color: #2B313B;
    font-size: 10px;
    margin: 0;
}

.bmi-chart p.font-semibold {
    font-weight: 600;
}
.single-info .bmi-msg {
    color: #26BA65;
}
.bottom-part ul {
    padding: 0;
}
.text-content h1 {
    line-height: 1.25;
}
.social-shear p {
    font-size: 12px;
    margin-bottom: auto;
    margin-top: auto;
    color: #2B313B;
}
.social-shear {
    margin-bottom: 27px;
}
.publish-date-time {
    margin: 5px 0;
}
.items-end {
    text-align: right;
}
/* Coder Start */
.mega-menu-wrapper {visibility: hidden;transform: translateY(5px);opacity: 0;transition: 250ms;}

.mega-menu:hover .mega-menu-wrapper {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    top: 75px;
}
.mega-menu:hover svg.arrow-icon {
    transform: rotate(180deg);
}

.offer-img {
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
}

.daily-deals-btn:hover svg {
    fill: #0052fe;
}

.daily-deals-btn:hover svg path {
    stroke: #0052fe;
}

.daily-deals-btn svg {
    transition: 250ms;
    fill: transparent;
}

nav a {
    transition: 250ms;
}
.search-bar:hover input#default-search, .search-bar:hover .mega-menu {
    border-color: #0052fe;
}

.selectBtn.filter-icon {
    padding-left: 30px;
}

.selectBtn.filter-icon:before {
    content: "";
    background: url("../img/usa-flag-icon.svg");
    width: 16px;
    height: 16px;
    left: 8px;
    position: absolute;
    top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.selectBtn.star-icon {
    padding-left: 30px;
}
.selectBtn.star-icon:before {
    content: "";
    background: url("../img/filter-start-icon24.svg");
    width: 16px;
    height: 16px;
    left: 8px;
    position: absolute;
    top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.subscription-area .inner-area-subs {
    width: calc(100vh - 180px);
    margin: 0 auto;
}
.subscription-area {
    background: url("../img/background/subs.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.filter-s .selectBtn {
    border-color: #a4bce6;
    background: #fff;
    color: #6C7A93;
    padding: 11px;
}

.subscription-area .form-area {
    box-shadow: none;
}
.table-head {position: relative;z-index: 1;}

.table-head:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #F9F9F9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;
}
.product-info-modal a:hover svg path {stroke: #fff;}

.product-info-modal a svg path {
    transition: 250ms;
}
.product-table-wrapper {
    border: 1px solid #F5F8FF;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.product-table-wrapper:after {
    content: "";
    width: 100%;
    height: 240px;
    position: absolute;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(241,245,254,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(241,245,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(241,245,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f1f5fe',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    left: 0;
}

.product-table-wrapper .single-row-item {
    border: 1px solid #F5F8FF;
    border-left: none;
    border-right: none;
    background: #fff;
    transition: 250ms;
}

.product-table-wrapper .single-row-item:hover {
    background: #f1f1f1;
}
.top-product {
    text-align: center;
    position: absolute;
    right: auto;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    overflow: hidden;
    background: #EF8421;
}

.top-product span {
    width: 32px;
    height: 32px;
    color: #fff;
    display: block;
    position: relative;
    top: 3px;
    font-size: 16px;
    font-weight: 600;
}
.provider-information {
    position: absolute;
    bottom: 60px;
    right: 43px;
}

.providers-info {
    position: relative;
}

.provider-information img {
    margin-bottom: 50px;
}
.notification-icon {
    position: relative;
}

.notification-icon:after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background: #E71212;
    top: -1px;
    right: -1px;
    border: 1px solid #FFF6F3;
}
.brands-s {
    background: #fff;
    transition: 250ms;
    cursor: pointer;
}

.brands-s:hover {
    background: #CAEFD8;
}

.stock-out {
    position: relative;
    z-index: 1;
}

.stock-out:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255 255 255 / 50%);
    z-index: 2;
    cursor: no-drop;
}
.brands-s a {
    transition: 250ms;
    border: 1px solid #112954;
}

.brands-s a:hover {
    background: #fff;
}

.brands-s a:hover svg path {
    fill: #112954;
}

.contact-inner .contact-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
}

.contact-inner {
    padding: 50px;
    border: 1px solid #F5F8FF;
    position: relative;
    margin-top: 80px;
}
.fact-info {
    margin-bottom: 20px;
}
.input-select .radio-cu label {
    width: 100%;text-align: left;
}

.input-select .radio-cu label::before {
    right: 18px;
    left: auto;border-color: #D3D7DE;
}

.input-select .radio-cu label::after {
    right: 20px;
    left: auto;
}

.price-list-count {
    border-radius: 50%;
}
.view-btn svg path {
    transition: 250ms;
}
.view-btn:hover svg path {
    stroke: #fff;
}

/* Coder End */

/* Coder Currency Start */


.load-more-btn {
    position: absolute;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,45,142,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,45,142,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,45,142,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#002d8e',GradientType=0 );
    width: 100%;
    height: 190px;
    left: 0;
    text-align: center;
    bottom: 0;
}
.single-currency-info button {
    position: relative;
    z-index: 1;
}
.currency-info-inner .single-currency-info:last-child button {
    z-index: 0;
}
.button-area {
    top: 75%;
    position: relative;
    z-index: 1;
}
.selectBtn.bg-white {
    border-color: #D1D8E8;
    font-size: 16px;
    color: #000000;
}

.select .selectBtn.bg-white:after {
    top: 20px;
}

.select .selectBtn.bg-white.toggle:after {
    top: 15px;
}
.select.select-b .selectDropdown .option{
    border: none;    
    font-size: 16px;
    color: #000000;
}
.select.select-b .selectDropdown{
    border: 1px solid #D1D8E8;
}

.news-tag {
    position: absolute;
    bottom: 11px;
    right: 14px;
    left: auto;
    top: auto;
}
.news-des {
    position: relative;
}

.news-des:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.cta-inner {
    background: url(@/assets/img/bg-p.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 40px;
    position: relative;
    z-index: 2;
}


.cta-shadow{
    position: relative;
    z-index: 1;
}
.cta-shadow:before {
    content: "";
    width: 90%;
    height: 100%;
    background: #7C8FCA;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    filter: blur(50px);
    top: 35px;
}
.ex-button{
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #43547B;
padding: 14px 30px;
background: #D1D8E8;
border-radius: 100px;
border: 1px solid #D1D8E8;
transition: 300ms;
}
.ex-button.active-ex{
    background: #FFFFFF;
    border: 1px solid #0051FF;
    text-align: center;
    font-weight: 600;
    color: #0051FF;
}
.ex-button:hover{
    color: #0051FF;
}
.button-re {
    height: 300px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: -moz-linear-gradient(top,  rgba(241,245,254,0) 0%, rgba(241,245,254,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(241,245,254,0) 0%,rgba(241,245,254,1) 100%); 
    background: linear-gradient(to bottom,  rgba(241,245,254,0) 0%,rgba(241,245,254,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f1f5fe', endColorstr='#f1f5fe',GradientType=0 ); /* IE6-9 */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.product-table-wrapper.no-overlay:after {
    display: none;
}
.exchange-mb .select .selectBtn:hover {
    border-color: transparent;
}
.exchange-mb .select .selectBtn {
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: 9px 8px;
    background-size: 20px;
}
.ellipsis-content {
    text-overflow: ellipsis;
    height: 30px;
    overflow: hidden;
}
.call-to-action.full-width::before {
    width: 75px;
    height: 75px;
    left: 0;
    bottom: 55px;
}

.call-to-action.full-width::after {
    height: 75px;
    width: 75px;
    right: 0;
    top: 60px;
}
.full-width .cta-inner{
    border-radius: 15px;
}
.ellipsis-p {
    height: 50px;
    overflow: hidden;
}
.call-to-action.top-sec.image-area:before {
    top: 30px;
    width: 70px;
    height: 70px;
    bottom: auto;
}

.call-to-action.top-sec.image-area::after {
    width: 70px;
    height: 70px;
    top: 50px;
    transform: rotate(45deg);
}

.content-option-list span {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
    overflow: hidden;
}
.call-to-action {
    margin-top: 0px;
}

.page-dropdown .selectBtn::after {
    top: 20px;
}
.page-dropdown .selectBtn.toggle::after {
    top: 15px;
}
.page-dropdown .selectBtn {
    background: #fff;
    border-color: #0051FF;
    border-radius: 20px;
    color: #0051FF;
    padding: 12px;
}
.detail-content {
    gap: 24px;
}
/* Coder Currency End */


.top-f .t-item {
    position: relative;
}

.top-f .t-item:after {
    content: "";
    position: absolute;
    left: auto;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../img/icons/arrow-right.svg);
    top: 50%;
    transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: auto;
        transition: 250ms;
}
.top-f .t-item:hover:after {
    right: 15px;
}

.tab-link {
    background: #ffffff;
    border-bottom: 2px solid #ffffff;
    transition: all 300ms ease-in-out;
}
.tab-link:hover .tab-icon svg path {
    fill: #0051FF;
}
.tab-link.active-table, .tab-link:hover {
    border-color: #0051FF;    
}
.tab-content .product-table-wrapper {
    border-radius: 0px;
}

.tab-content .product-table-wrapper .table-head::before {
    border-radius: 0px;
    background: #fff;
}

.tab-content .product-table-wrapper .table-head {
    border-bottom: 1px solid;
}
.page-calculator .inner-ca, .page-calculator .inner-ca .exchange-mb {
    width: 100%;
}
.page-calculator .calculator-wrapper {
    margin-bottom: 25px;
}
canvas#priceChart1{
    width: 100%!important;
    height: 251px!important;
}
td.product-info-modal.text-center button.bg-cblue {
    background: white;
    color: #0059fa;
    border: 1px solid #0059fa;
    transition: 250ms;
}
td.product-info-modal.text-center button.bg-cblue:hover {
    background: #0059fa;
    color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 860px) {
    .service-btn:after {
        right: 5px;
    }
}
@media only screen and (min-width: 769px) {
    /*filter sidebar*/
    .filter-list {
        display: block!important;
    }
    /*filter sidebar end*/
    .page-calculator .inner-ca .exchange-mb .flex-col>div {
        width: 100%;
    }
    
    .page-calculator .inner-ca .exchange-mb .flex-col>div.ex-icon-s {
        width: 100px;align-items: center;
    }
  
}
@media only screen and (max-width: 990px) {
    .subscription-area .inner-area-subs {
        width: 100%;
    }
    .page-heading .call-to-action.top-sec:before, .page-heading .call-to-action.top-sec:after{
        display: none;
    }
    .ex-btn-wrapper, .ex-btn-inner {
        width: 100%;
        justify-content: center;
    }
}
@media only screen and (max-width: 769px) {
    .page-calculator .inner-ca .exchange-mb div>span.inline-flex.items-center {
        display: none;
    }
    
    .page-calculator .inner-ca .exchange-mb div>input {
        border-right: 1px solid #f3f4f6;
    }    
    .detail-content {
        padding-top: 60px;
    }
    .page-heading h2 {
        width: 72%;
    }
    .mh-fixed{
        position: relative;
        height: 370px;
        overflow: hidden;
    }
    .mh-fixed:after {
        content: "";
        width: 100%;
        height: 240px;
        position: absolute;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(241,245,254,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(241,245,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(241,245,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f1f5fe',GradientType=0 ); /* IE6-9 */
        bottom: 0;
        left: 0;
    }
    section.p-10 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .ex-info-inner {
        padding-right: 30px;
    }
    
    .ex-detail-inn-top {
        border-bottom: 1px solid #DEE4F1;
        margin-bottom: 16px;
    }
    
    .ex-text {
        padding: 16px 0 0;
        border-top: 1px solid #DEE4F1;
        border-bottom: 1px solid #DEE4F1;
        margin-bottom: 16px;
    }
    .ex-info-inner .logo {
        margin-right: 15px;
    }
    .ex-detail {
        margin: 0;
    }
    .ex-info-inner {
        padding: 15px;
    }
    .ex-button {
        font-size: 12px;
        padding: 10px 11px;
    }
    .call-to-action {
        margin-top: 80px;
    }
    /*filter sidebar*/
    .main-filter {
        width: 100%;
        left: 0;
        top: 0;
        z-index: 91;
    }
   
    /*filter sidebar end*/
    .single-info p {
        font-size: 12px;
    }
    .single-info ol, .single-info ul {
        font-size: 12px;
    }
    #load-more .single-info {
        height: 400px;
        overflow: hidden;
    }
    #load-more-btn {
        margin-bottom: 25px;
    }
    
    #load-more {
        border-bottom: 1px solid #F5F8FF;
    }
    
    .bottom-part {
        margin-top: 25px;
    }
    li .flex.items-center span.ml-1.text-sm {
        width: 140px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .compares .service-btn:after{
        display: none;
    }
    .compares .service-btn{
        text-align: center;
    }
    .gray-btn.outline-btn.btn-translate-z  {
        background: #6C7A93;
        width: 160px;
    }
    .mega-menu-full-dropdown-button li.menu-item svg {
        display: none;
    }
    .mega-menu-full-dropdown-button {
        width: 100%;
        border-right: none;
    }
    li.menu-item.dropdown ul.sub-menu, li.sub-menu-item.dropdown ul.dropdown-sub {
        width: 100%;
        right: 0;
        border-right: none;
    }
    .provider-information {
        right: 50%;
        transform: translateX(50%);
    }
    .text-content {
        text-align: center;
        margin-bottom: 30px;
    }
    .call-to-action.f-page:after {
        width: 86px;
        height: 86px;
        top: 0;
        right: 0;
    }
    .call-to-action.f-page:before {
        width: 86px;
        height: 86px;
        bottom: 0;
        left: 0;
    }
  
    .page-heading {
        margin-top: 80px;
    }
    
    .page-heading .call-to-action.top-sec h2 {
        margin: 0 0 15px 0;
    }
    
    .page-heading .call-to-action.top-sec h2 img.ml-2 {
        display: none;
    }
    .page-heading p {
        text-align: left;
    }
    .call-to-action.top-sec.image-area {
        display: none;
    }
}